@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto Slab", serif;
  background-image: url("https://www.jpl.nasa.gov/edu/images/news/extremeweather_main.jpg");
  background-size: cover;
  background-position: center center;
}

.wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.787)
  );
}

header {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 0.5rem 0;
}

p {
  font-size: 1.2rem;
  margin: 1rem;
  color: #fff;
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

input {
  width: 100%;
  max-width: 300px;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1rem 0.5rem;
  border-bottom: 3px solid #000;
  font-size: 1.5rem;
  text-align: center;
}

input[type="text"]:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-size: 1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.376);
  padding: 0.5rem 3rem;
  border: none;
  outline: none;
  transition: all 0.4s ease 0s;
}

button:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.4s ease 0s;
}

a {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
}
